/*======================================
[ CSS Table of contents ]
01. Header
02. Home Page
03. About
04. Product
05. Request
06. Invest
07. Team
08. Footer
========================================*/
body{
  color: #0b424d;
  font-family: 'Open Sans', sans-serif;
}
main{
  overflow: hidden;
}
a{
  color: #00bf80;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family: 'Lato', sans-serif;
}
textarea:focus,
select:focus,
input:focus,
button:focus{
  outline-color: transparent!important;
  outline-style: none!important;
  box-shadow: none!important;
}
h3{
  font-weight: bold;
  margin-bottom: 25px;
}
h1.head-lead{
  position: absolute;
  top: 9vw;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 9vw;
  width: 100%;
  color: #fff;
}
/*==============================================================*/
.some-class-243{
  font-family: 'Roboto', sans-serif;
}
/*==============================================================*/
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.bg-green{
  background-color: #2cf6a0;
}
.ellipse{
  margin: 0 -50px;
  border-bottom-left-radius: 70% 20%;
  border-bottom-right-radius: 70% 20%;
  border-top-left-radius: 70% 20%;
  border-top-right-radius: 70% 20%;
}
.ellipse-top{
  margin: 0 -50px;
  border-top-left-radius: 70% 20%;
  border-top-right-radius: 70% 20%;
}
.ellipse-bottom{
  margin: 0 -50px;
  border-bottom-left-radius: 70% 20%;
  border-bottom-right-radius: 70% 20%;
}
/*======================================
01. Header
========================================*/
.hero-area {
  background-size: contain;
  background-repeat: no-repeat;
}
.hero-area .head-lead{
  position: absolute;
}
.hero-area .btn{
  position: absolute;
}
.hidden-int-image{
  visibility: hidden;
  opacity: 0;
  width: 100%;
}
.header-image{
  position: absolute;
  left: 50%;
  top: 6vw;
  width: 75vw;
  transform: translateX(-50%);
}
.navbar-brand img{
  width: 166px;
}
nav{
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(121,121,121,0.16);
  -moz-box-shadow: 0px 3px 5px 0px rgba(121,121,121,0.16);
  box-shadow: 0px 3px 5px 0px rgba(121,121,121,0.16);
}
.navbar-nav .nav-link{
  color: #198ea6;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar .btn,
.btn-request{
  min-width: 160px;
  margin-left: 15px;
}
.navbar .btn-outline-primary{
  color: #00bf80;
  border: 2px solid #00bf80;
  border-radius: 19px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-request,
.navbar .btn-outline-secondary{
  color: #ffffff;
  border: 2px solid #00bf80;
  background-color: #00bf80;
  border-radius: 19px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

/*======================================
02. Home Page
========================================*/
section.block-1{
  padding: 75px 0 200px;
}
section.block-1 img{
  width: 20vw;
  position: absolute;
  top: -20%;
  left: 30%;
}
section.block-2{
  padding: 75px 0 250px;
}
section.block-2 img{
  width: 17vw;
  left: 8vw;
  position: absolute;
}
section.block-3 {
  padding: 65px 0 100px;
}
section.block-3 img{
  position: absolute;
  width: 22vw;
  top: -12vw;
}
section.block-4{
  padding: 150px 0;
}
section.block-4 img{
  position: absolute;
  width: 35vw;
  left: 0;
}
section.block-5{
  padding: 200px 0;
}
section.block-5 img{
  position: absolute;
  top: -5vw;
}
/*======================================
03. About
========================================*/
.about-slogan{
  background-image: url(../img/about-slogan.png);
  min-height: 75px;
  background-size: 70%;
  background-repeat: no-repeat;
}
.about-body{
  padding: 100px 0;
}
.about-feature-item{
  border-radius: 50%;
  box-shadow: 0 9px 62px 0 rgba(36, 36, 36, 0.17);
}
.about-feature-item img{
  display: flex;
  margin: 0 auto;
}
.hover-open{
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
.about-feature-item:hover .hover-open{
  opacity: 1;
  visibility: visible;
}

/*======================================
04. Product
========================================*/
.swiper-wrapper{
  width: 60%;
  box-shadow: 0 9px 62px 0 rgba(36, 36, 36, 0.37);
  margin: 0 auto;
}
.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  min-height: 150px;
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}
/*======================================
05. Request
========================================*/
.modal{
  z-index: 1020;
}
.modal-backdrop{
  z-index: 1010;
}
.modal-dialog{
  margin: 58px 0 0;
  width: 100%;
  max-width: unset;
}
.modal-content{
  border-radius: 0;
  border: unset;
}
.modal-header{
  background-color: #00bf80;
  color: #ffffff;
  border-radius: 0 0 50% 50%;
}
.modal-title{
  width: 100%;
  text-align: center;
  font-size: 36px;
  margin: 25px auto;
}
.modal .close{
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  padding: 6px;
  opacity: 1;
}
.modal .close span{
  color: #fff;
}
.request-form input:not([type="submit"]){
  border: unset;
  border-bottom: 1px solid #6b6b6b;
  border-radius: 0;
}
.request-form textarea {
  background-color: #e5f8f2;
  border: 1px solid #e5f8f2;
  border-radius: 10px;
}
/*======================================
06. Invest
========================================*/
.invest-body{
  padding: 50px 0 30px;
}
.invest-contacts{
  padding: 50px 0 200px;
}
.invest-contacts a{
  font-size: 18px;
  color:#0b4258;
  border-bottom: 2px solid #00bf80;
  padding-bottom: 7px;
  vertical-align:middle;
}
.invest-contacts a:hover{
  text-decoration: none;
}
.invest-contacts p{
  padding: 0 25px;
}
.invest-contacts svg{
  color: #009966;
  font-size: 48px;
  vertical-align:middle;
  padding-right: 15px;
}
.email-holder{
  max-height: 45px;
  border-right: 2px solid #009966;
}
/*======================================
07. Team
========================================*/
h1.team-head-lead{
  top: 0;
}
a.linkedin-link{
  color: #0b424d;
}
.team-item{
  padding: 25px 0;
}
.team-item img{
  width: 120px;
  border-radius: 50%;
  float: left;
}
.team-item h4{
  font-weight: bold;
}
.team-item-description{
  float: left;
  padding: 20px 20px 0;
}
.team-item-description svg{
  font-size: 22px;
}
.team-category.first{
  margin-top: -115px;
  position: relative;
}
.team-category{
  padding:80px 0;
}
.team-category-header {
  padding-bottom: 50px;
}
/*======================================
08. Footer
========================================*/
footer{
  color: #ffffff;
  padding: 55px 0 25px;
  background-color: #00bf80;
  -webkit-box-shadow: inset 0px 32px 25px -18px rgba(0,0,0,0.26);
  -moz-box-shadow: inset 0px 32px 25px -18px rgba(0,0,0,0.26);
  box-shadow: inset 0px 32px 25px -18px rgba(0,0,0,0.26);
}
footer a{
  color: #ffffff;
}
footer a:hover{
  text-decoration: none;
}
footer hr{
  border-color: #ffffff;
}
footer ul.list-inline li a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}
footer .copyright {
  font-size: 14px;
}
footer ul.social-bottom li a{
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 5px;
  font-size: 19px;
}
.subscribe-form .input-group{
  border: 1px solid #ffffff;
  border-radius: 22px;
  padding: 2px;
}
.subscribe-form .input-group .btn{
  background-color: #ffffff;
  color: #00bf80;
  border: 1px solid #ffffff;
  border-radius: 19px;
  margin: 2px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.subscribe-form .input-group .form-control{
  background-color: transparent;
  border: 1px solid transparent;
  color: #ffffff;
}

.subscribe-form .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  font-size: 14px;
  opacity: 1; /* Firefox */
}

.subscribe-form .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff;
  font-size: 14px;
}

.subscribe-form .form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffffff;
  font-size: 14px;
}
.subscribe-form .form-control:focus {
  outline: none !important;
  border:1px solid transparent;
  box-shadow: 0 0 10px transparent;
}
